@charset "utf-8";

:root {
  --en-font: "Gotham", serif;
  --ko-font-pr: "Pretendard Variable", "맑은고딕", sans-serif;
  --ko-font-nn: "NanumSquare", "맑은고딕", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  font-family: var(--en-font);
}
body > div {
  position: relative;
  z-index: 5;
}

/***** header *****/
header {
  color: #fff;
  background-color: transparent;
  z-index: 6;
}

.header {
  padding: 1vh 0 1vh 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

/***** 메뉴 *****/
.menu {
  width: 100%;
  height: 89vh;
  padding: 9vh 0 0 5vw;
  display: none;
  background-color: #000;
  position: relative;
  z-index: 10;
}

.menu li {
  margin: 1.5vw;
  position: relative;
}

.menu a {
  font-family: var(--ko-font-pr);
  font-weight: 500;
  font-size: 5rem;
}

/***** menu hover 효과 *****/
.menu li:nth-child(1) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}

.menu li:nth-child(1) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(2) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(2) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(3) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(3) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(4) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(4) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(5) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(5) a:hover:after {
  width: 30vw;
  opacity: 1;
}

/***** 예약버튼 *****/
.reservation_btn {
  font-family: var(--en-font);
  font-weight: 300;
  text-align: center;
  /* width: 8vw; */
  height: 6vh;
  line-height: 6vh;
  margin: 6px 0 0 30px;
  transition: 0.4s;
}

.reservation_btn:hover {
  background-color: #b4b4b43a;
  border-radius: 5px;
}

/***** 로고 *****/
.logo {
  font-family: var(--en-font);
  font-weight: 200;
  font-size: 3.5rem;
  text-align: center;
  position: relative;
}

.logo p:nth-child(1) {
  margin: 0;
}

.logo p:nth-child(2) {
  font-size: 1.5rem;
  margin: 0;
}

.logo::before {
  content: "";
  position: absolute;
  top: 35%;
  left: -32vw;
  width: 30vw;
  height: 1px;
  background-color: #fff;
}

.logo::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 110%;
  width: 32vw;
  height: 1px;
  background-color: #fff;
}

.logo.active::before {
  background-color: #fff;
}

.logo.active::after {
  background-color: #fff;
}

/***** 햄버거 메뉴*****/
.hamburger_btn {
  margin: 1.5vh 2vw;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
}

.checkmark span {
  width: 32px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkmark span.active {
  background-color: #fff;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.container input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.container input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.container input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  transform: translateX(-50px);
  transform: translateX(-50px);
  transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
}

/***** 메인 애니메이션 *****/
.main_animation {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 80vh;
  /* box-sizing: border-box; */
  /* z-index: -999; */
  /* background: url(./images/main_bayhill.jpg) no-repeat 50% / contain;
  background-size: 55%; */
  background-color: #000;

  position: relative;
}
<<<<<<< HEAD
/**** 스크롤링 연습 아래****/
/* .zoom {
  width: 100%;
  height: 110vh;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
img {
  width: 20%;
  height: 20%;
} */

/**** 스크롤링 연습 위 ****/
=======
.main_animation .scaleDown {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;

  transform-origin: 50% 50%;
}
>>>>>>>98868152a70ec3568261d6f55d3c6ce047add142 .main_animation .ani-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  overflow: hidden;

  transform-origin: 50% 50%;
}
.main_animation .ani-title .ani-title_flow {
  font-size: 6.25rem;
  font-weight: 200;

  z-index: 1;
}
.ani-title_flow {
  animation: flow 10s linear infinite;
}
@keyframes flow {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/***** 첫번째 사진 애니메이션 밑에 화살표  *****/
.arrow {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  padding-bottom: 2vh;
}

/***** room_category 3개 섹션  *****/
.room_category {
  width: 100%;
  height: 93vh;
  margin: 0px auto;
  padding: 7vh0;
  background-color: #000;
}
.room_category h1 {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 700;
  padding: 5vh 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 5vh;
}
.room_category_3img .category_txt h3 {
  font-size: 2.375rem;
  font-weight: 700;
}
.room_category_3img {
  padding-bottom: 3vw;
  border-bottom: 1px solid #fff;

  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.room_category_3img .category_txt {
  margin: 0 2vh;
  width: 36.188rem;
  height: 35.313rem;
  font-size: 2.375rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  /** 230706 애니메이션 텍스트 사진 넘치는 부분 수정함 **/
}
.room_category_3img .category_txt .txt_hidden {
  display: none;
}

.room_category_3img .castle {
  background: url(./images/room_category_1.jpg) no-repeat 50% / cover,
    rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
.room_category_3img .villa {
  background: url(./images/room_category_2.jpg) no-repeat 50% / cover
    rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
.room_category_3img .honeymoon {
  background: url(./images/room_category_3.jpg) no-repeat 50% / cover,
    rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

/***** room_category 3개 섹션 hover할 때 *****/
.room_category_3img .category_txt:hover {
  transition: 0.6s;
  width: 50rem;
}
.room_category_3img .category_txt:hover {
  filter: brightness(160%);
}
.room_category_3img .category_txt:hover h3 {
  display: none;
}
.room_category_3img .category_txt:hover .txt_hidden {
  display: block;
  white-space: nowrap;
}
.room_category_3img .category_txt:hover .txt_hidden ul {
  display: grid;
}
.room_category_3img .category_txt:hover .txt_hidden ul li {
  margin: 10vh auto;
}
.room_category_3img .category_txt:hover .txt_hidden ul li:first-child {
  font-size: 1.25rem;
}
.room_category_3img .category_txt:hover .txt_hidden ul li:last-child {
  font-size: 0.875rem;
  position: relative;
}
.room_category_3img .category_txt:hover .txt_hidden ul li:last-child::before {
  content: "";
  border: 1px solid #fff;
  display: block;
  width: 3vw;
  position: absolute;
  top: 50%;
  right: 10vh;
}
.room_category_3img .category_txt:hover .txt_hidden ul li:nth-child(2) {
  content: "";
  animation: flow 8s linear infinite;
  font-weight: 400;
}
@keyframes flow {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/***** 메인 소개글과 사진  *****/
.welcom {
  width: 100%;
  height: 100vh;
  background-color: #eae8e1;
  color: #000;
  font-family: var(--en-font);
  padding: 10vh;

  position: relative;
}
.welcom .welcom_section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcom .welcom_section h1 {
  font-size: 4.2rem;
  font-weight: 700;
  margin-top: 10vh;
}
.welcom .welcom_section h1 span {
  font-size: 3.5rem;
}
.welcom .welcom_section h2 {
  font-family: var(--ko-font-pr);
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: 12vh;
  line-height: 1.4;
}
.welcom .welcom_section p {
  font-family: var(--ko-font-pr);
  font-size: 1.5rem;
  margin-top: 3vh;
  line-height: 1.4;
}
.welcom .welcom_section .welcom_btn {
  font-family: var(--ko-font-pr);
  width: 8.35vw;
}
.welcom .welcom_section .welcom_btn span {
  margin-top: 6.5vh;
  width: 10.438rem;
  height: 2.938rem;
  text-align: center;
}

.welcom .welcom_section .welcom_btn span {
  background-color: #000;
  color: #fff;
  height: 3vw;

  line-height: 3vw;
  display: block;
  position: relative;
}
.welcom .welcom_section .welcom_btn a {
  display: block;
}
.welcom .welcom_section .welcom_btn span:hover {
  background: transparent;
  color: #000;
  box-shadow: -7px -7px 20px 0px #2221, -4px -4px 5px 0px #2221,
    7px 7px 20px 0px #2221, 4px 4px 5px 0px #2221;
}
.welcom .welcom_section .welcom_btn span:before,
.welcom .welcom_section .welcom_btn span:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #000;
  transition: 400ms ease all;
}
.welcom .welcom_section .welcom_btn span:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.welcom .welcom_section .welcom_btn span:hover:before,
.welcom .welcom_section .welcom_btn span:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.welcom_section .welcom_section_img img:nth-child(1) {
  position: absolute;
  top: 22%;
  right: 17%;
}
.welcom_section .welcom_section_img img:nth-child(2) {
  position: absolute;
  top: 60%;
  right: 7%;
}

/***** 스크롤시 위아래 반대로 글씨 지나가는 부분  *****/
.ani_text {
  width: 100%;
  height: 50vh;
  background-color: #eae8e1;
  color: #000;
  /* font-size: 5.625rem; */
  font-size: 6.5rem;
  padding-top: 17vh;
  overflow: hidden;
  /** 230706 좌우 롤링 수정 후 가로스크롤 생겨 수정 반영함 **/
}
/***** 230707 좌우롤링을 위해 작성 아래*****/
.ani_text .ani_bottom {
  margin-left: -1000px;
}
/***** 230707 좌우롤링을 위해 작성 위*****/

/***** 양쪽으로 2장씩 사진 4개와 가운데 텍스트  *****/
.sideimg_text {
  width: 100%;
  background-color: #eae8e1;
  padding-bottom: 50vh;
}

.sideimg_text img {
  display: inline-block;
}

.sideimg_text .sideimg_text_top {
  width: 100%;
  margin: 0 auto;
  height: 40vh;
  position: relative;
}

.sideimg_text .sideimg_text_top img:nth-child(1) {
  transform: translate(10vw, 10vw);
  position: relative;
  width: 25vw;
  z-index: 999;
}

.sideimg_text .line .first {
  content: "";
  position: absolute;
  top: 5vw;
  left: 22vw;
  background-color: #4e4e4e;
  width: 1px;
  height: 40vw;
  display: block;
}

.sideimg_text .sideimg_text_top img:nth-child(2) {
  transform: translate(45vw, 15vw);
  width: 20vw;
  position: relative;
  z-index: 999;
}

.sideimg_text .line .two {
  content: "";
  position: absolute;
  top: -3vw;
  left: 78.5vw;
  background-color: #4e4e4e;
  width: 1px;
  height: 60vw;
  display: block;
}

.sideimg_text .sideimg_text_top {
  width: 100%;
  margin: 0 auto;
  height: 40vh;
  position: relative;
}

.sideimg_text .sideimg_text_bottom img:nth-child(1) {
  transform: translate(10vw, 10vw);
  position: relative;
  width: 20vw;
  z-index: 999;
}

.sideimg_text .line2 .first {
  content: "";
  position: absolute;
  top: 5vw;
  left: 24vw;
  background-color: #4e4e4e;
  width: 1px;
  height: 32vw;
  display: block;
}

.sideimg_text .sideimg_text_bottom img:nth-child(2) {
  transform: translate(45vw, 15vw);
  width: 28vw;
  position: relative;
  z-index: 999;
}

.sideimg_text .line2 .two {
  content: "";
  position: absolute;
  top: 10vw;
  left: 70vw;
  background-color: #4e4e4e;
  width: 1px;
  height: 30vw;
  display: block;
}
.sideimg_text .sideimg_text_bottom {
  width: 100%;
  margin: 0 auto;
  height: 40vh;
  position: relative;
}

.sideimg_text .sideimg_quote {
  padding: 45vh 0 0 0;
  color: #333;
  font-family: var(--ko-font-nn);
  font-size: 1.875vw;
  text-align: center;
  position: relative;
}
.sideimg_text .sideimg_quote p {
  font-family: var(--ko-font-pr);
  line-height: 1.4;
}

.sideimg_text .sideimg_quote svg {
  width: 5vw;
  height: 4vw;
  opacity: 0.5;
  position: absolute;
  left: 30vw;
  bottom: 7vw;
}
/* .sideimg_text {
  width: 100%;
  background-color: #eae8e1;
}
.sideimg_text .sideimg_text_top {
  width: 95%;
  height: 80vh;
  position: relative;
}
.sideimg_text .sideimg_text_top img:nth-child(1) {
  width: 26.5vw;
  height: 16.5vw;
  position: absolute;
  top: 15%;
  left: 21%;
}
.sideimg_text .sideimg_text_top img:nth-child(2) {
  width: 22vw;
  height: 24vw;
  position: absolute;
  top: 37%;
  right: 2%;
  margin-bottom: 10vh;
}
.sideimg_text .sideimg_quote {
  padding-top: 18vh;
  color: #333;
  font-family: var(--ko-font-nn);
  font-size: 2.25rem;
  text-align: center;
  position: relative;
}
.sideimg_text .sideimg_quote p {
  font-family: var(--ko-font-pr);
  line-height: 1.4;
  position: absolute;
  top: 12.5vh;
  left: 33.5vw;
  z-index: 3;
}

/** svg큰따옴표 z-index가 안먹음..
.sideimg_text .sideimg_quote svg {
  width: 106px;
  height: 87px;
  opacity: 0.5;
  position: absolute;
  left: 30%;
  top: 35%;
  z-index: 2;
}
.sideimg_text .sideimg_text_bottom {
  height: 100vh;
  position: relative;
}
.sideimg_text .sideimg_text_bottom img:nth-child(1) {
  width: 18vw;
  height: 24vw;
  position: absolute;
  top: 15%;
  left: 10%;
}
.sideimg_text .sideimg_text_bottom img:nth-child(2) {
  width: 608px;
  position: absolute;
  top: 50%;
  right: 10%;
} */

/***** footer *****/
footer {
  font-family: var(--en-font);
  background-color: #000;
  color: #fff;
  height: 44vh;
  width: 100%;

  position: sticky;
  bottom: 0;
  z-index: 1;
}
footer .footer_info {
  z-index: 2;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7vh 0 5vh 0;
}

/***** footer_logo *****/
.footer_logo p {
  font-size: 4.167vw;
  font-weight: 200;
}

/***** footer_info *****/
.footer_info {
  font-family: var(--ko-font-nn);
  font-weight: 300;
  font-size: 0.917vw;
  line-height: 3;
}

.footer_info a:last-child {
  transition: 0.6s;
  font-weight: 500;
  width: 11.5vw;
  cursor: pointer;
  padding-left: 2px;
}

.footer_info a:last-child:hover {
  background-color: #fff;
  color: #000;
  padding: 0.5vw;
  font-weight: 500;
}

/***** copyright *****/
footer .copyright {
  font-weight: 300;
  position: relative;
  font-size: 0.833vw;
  text-transform: none;
}

footer .copyright .bold {
  font-weight: 500;
}

footer .copyright {
  border-top: 1px solid #fff;
}

footer .copyright p {
  padding: 2vw 12vw;
}
