@charset "utf-8";

:root {
  --en-font: "Gotham", serif;
  --ko-font-pr: "Pretendard Variable", "맑은고딕", sans-serif;
  --ko-font-nn: "NanumSquare", "맑은고딕", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  font-family: var(--en-font);
}
body > div {
  position: relative;
  z-index: 5;
}

/***** header *****/
header {
  color: #fff;
  background-color: transparent;
  z-index: 6;
}

.header {
  padding: 1vh 0 1vh 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

/***** 메뉴 *****/
.menu {
  width: 100%;
  height: 89vh;
  padding: 9vh 0 0 5vw;
  display: none;
  background-color: #000;
  position: relative;
  z-index: 10;
}

.menu li {
  margin: 1.5vw;
  position: relative;
}

.menu a {
  font-family: var(--ko-font-pr);
  font-weight: 500;
  font-size: 5rem;
}

/***** menu hover 효과 *****/
.menu li:nth-child(1) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}

.menu li:nth-child(1) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(2) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(2) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(3) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(3) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(4) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(4) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(5) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(5) a:hover:after {
  width: 30vw;
  opacity: 1;
}

/***** 예약버튼 *****/
.reservation_btn {
  font-family: var(--en-font);
  font-weight: 300;
  text-align: center;
  /* width: 8vw; */
  height: 6vh;
  line-height: 6vh;
  margin: 6px 0 0 30px;
  transition: 0.4s;
}

.reservation_btn:hover {
  background-color: #b4b4b43a;
  border-radius: 5px;
}

/***** 로고 *****/
.logo {
  font-family: var(--en-font);
  font-weight: 200;
  font-size: 3.5rem;
  text-align: center;
  position: relative;
}

.logo p:nth-child(1) {
  margin: 0;
}

.logo p:nth-child(2) {
  font-size: 1.5rem;
  margin: 0;
}

.logo::before {
  content: "";
  position: absolute;
  top: 35%;
  left: -32vw;
  width: 30vw;
  height: 0.0625rem;
  background-color: #fff;
}

.logo::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 110%;
  width: 32vw;
  height: 0.0625rem;
  background-color: #fff;
}

.logo.active::before {
  background-color: #fff;
}

.logo.active::after {
  background-color: #fff;
}

/***** 햄버거 메뉴*****/
.hamburger_btn {
  margin: 1.5vh 2vw;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
}

.checkmark span {
  width: 32px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkmark span.active {
  background-color: #fff;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.container input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.container input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.container input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  transform: translateX(-50px);
  transform: translateX(-50px);
  transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
}

/***** 메인 애니메이션 *****/

/**** 스크롤링 연습 아래****/
.scaleDown {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 22vw;
  left: 50%;
  background: url(./images/main_bayhill.jpg) no-repeat 50% / contain;
}
/**** 스크롤링 연습 위 ****/

.main_animation {
  overflow: hidden;
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  background-size: 55%;
  height: 100vh;
  position: relative;
  background-color: #000;
}

.main_animation .ani-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: absolute;
  top: 40%;
  overflow: hidden;
}

.main_animation .ani-title .ani-title_flow {
  font-size: 6.25rem;
  font-weight: 200;
  z-index: 1;
}
.ani-title_flow {
  animation: flow 10s linear infinite;
}
@keyframes flow {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/***** 메인 애니메이션 밑에 room으로 연결되는 화살표  *****/
.arrow {
  width: 100%;
  margin: 0vh auto;
  text-align: center;
  /* background-color: #000; */
  padding-bottom: 2vh;
  position: absolute;
  bottom: 3vh;
}

/***** 이미지+텍스트 박스 3개  *****/
.room {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: var(--en-font);
  text-transform: uppercase;
  padding-top: 2vw;
}

.room h1 {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 700;
  padding: 5vh 0;
  border-bottom: 1px solid #fff;
}

.room .img_sesction {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #fff;
  padding: 2vw 0;
  box-sizing: border-box;
}

.room .img_sesction .box {
  margin: 0 2vh;
  width: 36.188rem;
  height: 35.313rem;

  font-size: 2.375rem;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /** 230706 애니메이션 텍스트 사진 넘치는 부분 수정함 **/
}

.room .img_sesction .box h2 {
  font-size: 2.375rem;
  font-weight: 700;
}

.room .img_sesction .txt_hover {
  display: none;
}

.room .img_sesction .box_left {
  background: url(./images/room_category_1.jpg) no-repeat 50% / cover,
    rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.room .img_sesction .box_middle {
  background: url(./images/room_category_2.jpg) no-repeat 50% / cover
    rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.room .img_sesction .box_right {
  background: url(./images/room_category_3.jpg) no-repeat 50% / cover,
    rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

/***** hover시 나타나는 텍스트 *****/
.room .img_sesction .box:hover {
  transition: 0.6s;
  width: 50rem;
  filter: brightness(160%);
}

.room .img_sesction .box:hover h2 {
  display: none;
}

.room .img_sesction .box:hover .txt_hover {
  display: grid;
  white-space: nowrap;
}

.room .img_sesction .box:hover .txt_hover li {
  margin: 10vh auto;
}

.room .img_sesction .box:hover .txt_hover li:first-child {
  font-size: 1.25rem;
  font-weight: 600;
}

.room .img_sesction .box:hover .txt_hover li:last-child {
  font-size: 0.875rem;
  font-weight: 300;
  position: relative;
}

.room .img_sesction .box:hover .txt_hover li:last-child::before {
  content: "";
  border: 1px solid #fff;
  display: block;
  width: 3vw;
  position: absolute;
  top: 50%;
  right: 10vh;
}

.room .img_sesction .box:hover .txt_hover .animation_txt .flow {
  margin-right: 1vw;
}

.room .img_sesction .box:hover .txt_hover .animation_txt .bold {
  font-weight: 200;
}

.room .img_sesction .box:hover .txt_hover .animation_txt {
  display: flex;
  font-weight: 600;

  content: "";
  animation: flow 13s linear infinite;
}
@keyframes flow {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/***** 메인 소개글과 사진  *****/
.welcome {
  width: 100%;
  height: 100vh;
  background-color: #eae8e1;
  color: #000;
  font-family: var(--en-font);
  padding: 10vh;

  position: relative;
}

.welcome .welcome_section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome .welcome_section h1 {
  font-size: 4.2rem;
  font-weight: 700;
  margin-top: 10vh;
}

.welcome .welcome_section h1 span {
  font-size: 3.5rem;
}

.welcome .welcome_section h2 {
  font-family: var(--ko-font-pr);
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: 12vh;
  line-height: 1.4;
}

.welcome .welcome_section p {
  font-family: var(--ko-font-pr);
  font-size: 1.5rem;
  margin-top: 3vh;
  line-height: 1.4;
}

.welcome .welcome_section .welcome_btn {
  font-family: var(--ko-font-pr);
  width: 8.35vw;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.welcome .welcome_section .welcome_btn span {
  margin-top: 6.5vh;
  width: 10.438rem;
  height: 2.938rem;
  text-align: center;
}

.welcome .welcome_section .welcome_btn span {
  background-color: #000;
  color: #fff;
  height: 3vw;

  line-height: 3vw;
  display: block;
  position: relative;
}

.welcome .welcome_section .welcome_btn a {
  display: block;
}

.welcome .welcome_section .welcome_btn span:hover {
  background: transparent;
  color: #000;
  box-shadow: -7px -7px 20px 0px #2221, -4px -4px 5px 0px #2221,
    7px 7px 20px 0px #2221, 4px 4px 5px 0px #2221;
}

.welcome .welcome_section .welcome_btn span:before,
.welcome .welcome_section .welcome_btn span:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #000;
  transition: 400ms ease all;
}

.welcome .welcome_section .welcome_btn span:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.welcome .welcome_section .welcome_btn span:hover:before,
.welcome .welcome_section .welcome_btn span:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.welcome_section .welcome_section_img img:nth-child(1) {
  position: absolute;
  top: 21%;
  right: 17%;
}

.welcome_section .welcome_section_img img:nth-child(2) {
  position: absolute;
  top: 60%;
  right: 7%;
}

/***** 스크롤시 텍스트 좌우롤링 부분  *****/
.ani_text {
  width: 100%;
  height: 50vh;
  background-color: #eae8e1;
  color: #000;
  /* font-size: 5.625rem; */
  font-size: 6.8rem;
  padding-top: 17vh;
  overflow: hidden;
  /** 230706 좌우 롤링 수정 후 가로스크롤 생겨 수정함 **/
}

/***** 230707 좌우롤링을 위해 작성 아래*****/
.ani_text .ani_bottom {
  margin-left: -1000px;
}

/***** 230707 좌우롤링을 위해 작성 위*****/

/***** 양쪽으로 2장씩 사진 4개와 가운데 텍스트  *****/
.sideimg_text {
  width: 100%;
  background-color: #eae8e1;
  padding-bottom: 50vh;
}

.sideimg_text img {
  display: inline-block;
}

.sideimg_text .sideimg_top {
  width: 100%;
  margin: 0 auto;
  height: 40vh;
  position: relative;
}

.sideimg_text .sideimg_top img:nth-child(1) {
  transform: translate(10vw, 10vw);
  position: relative;
  width: 25vw;
  z-index: 999;
}

.sideimg_text .line .first {
  content: "";
  position: absolute;
  top: -18vw;
  left: 22vw;
  background-color: #4e4e4e;
  width: 0.5px;
  height: 40vw;
  display: block;
}

.sideimg_text .sideimg_top img:nth-child(2) {
  transform: translate(45vw, 15vw);
  width: 20vw;
  position: relative;
  z-index: 999;
}

.sideimg_text .line .two {
  content: "";
  position: absolute;
  top: -15vw;
  left: 80vw;
  background-color: #4e4e4e;
  width: 1px;
  height: 40vw;
  display: block;
}

/* .sideimg_text .line .obj {
  position: absolute;
  
  top: -3vw;
  left: 78.5vw;
  background-color: #4e4e4e;
  width: 1px;
  height: 60vw;
  display: block;
} */
/* .obj {
  position: fixed;
  top: 20%;
  left: 78.5vw;
  transform: translate(-50%, 0);
  width: 300px;
  height: 210px; 

} */

.sideimg_text .sideimg_top {
  width: 100%;
  margin: 0 auto;
  height: 40vh;
  position: relative;
}

.sideimg_text .sideimg_bottom img:nth-child(1) {
  transform: translate(10vw, 10vw);
  position: relative;
  width: 20vw;
  z-index: 999;
}

.sideimg_text .line2 .first {
  content: "";
  position: absolute;
  top: -17vw;
  left: 24vw;
  background-color: #4e4e4e;
  width: 1px;
  height: 32vw;
  display: block;
}

.sideimg_text .sideimg_bottom img:nth-child(2) {
  transform: translate(45vw, 15vw);
  width: 28vw;
  position: relative;
  z-index: 999;
}

.sideimg_text .line2 .two {
  content: "";
  position: absolute;
  top: -14vw;
  left: 70vw;
  background-color: #4e4e4e;
  width: 1px;
  height: 31vw;
  display: block;
}

.sideimg_text .sideimg_bottom {
  width: 100%;
  margin: 0 auto;
  height: 40vh;
  position: relative;
}

/***** 큰따옴표와 텍스트 *****/
.sideimg_text .sideimg_quote {
  margin: 15vh auto;
  margin-bottom: 7vh;
  text-align: center;
  color: #333;
  font-family: var(--ko-font-pr);
  font-size: 1.875vw;
  padding-top: 25vh;

  position: relative;
}

.sideimg_text .sideimg_quote p {
  line-height: 1.4;
}

.sideimg_quote svg {
  width: 5vw;
  height: 4vw;
  position: absolute;
  top: 20vh;
  left: 29.5vw;
  z-index: -77;
}

/***** footer *****/
footer {
  font-family: var(--en-font);
  background-color: #000;
  color: #fff;
  height: 44vh;
  width: 100%;

  position: sticky;
  bottom: 0;
  z-index: 1;
}

footer .footer_info {
  z-index: 2;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7vh 0 5vh 0;
}

/***** footer_logo *****/
.footer_logo p {
  font-size: 4.167vw;
  font-weight: 200;
}

/***** footer_info *****/
.footer_info {
  font-family: var(--ko-font-nn);
  font-weight: 300;
  font-size: 0.917vw;
  line-height: 3;
}

.footer_info a:last-child {
  transition: 0.6s;
  font-weight: 500;
  width: 11.5vw;
  cursor: pointer;
  padding-left: 2px;
  text-transform: capitalize;
}

.footer_info a:last-child:hover {
  background-color: #fff;
  color: #000;
  padding: 0.5vw;
  font-weight: 500;
}

/***** copyright *****/
footer .copyright {
  font-weight: 300;
  position: relative;
  font-size: 0.833vw;
  text-transform: none;
}

footer .copyright .bold {
  font-weight: 500;
}

footer .copyright {
  border-top: 1px solid #fff;
}

footer .copyright p {
  padding: 2vw 12vw;
}
