@charset "utf-8";

html,
body {
  height: 100%;
  width: 100%;
}

.content {
  font-family: var(--ko-font-pr);
}

.content:last-child {
  width: 83%;
  margin: 20vh auto;
}

/*****  메인제목 *****/
.main-title {
  margin: 9vh;
}
.main-title h2 {
  font-family: var(--en-font);
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: 1.5vh;
}

.main-title p {
  font-size: 1vw;
  margin-left: 0.7vw;
}

/*****  카카오지도 *****/

#daumRoughmapContainer1688708475210 {
  margin: 2vh auto;
}

/*****  오시는길 *****/
.accordion_title {
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
}

.accordion_title svg {
  fill: cadetblue;
  margin-right: 1vw;
}

.accordion_title h3 {
  font-size: 1.6vw;
  font-weight: 600;
}

/* 오시는길 아코디언 메뉴 */

/***** 자가용, 버스  *****/
.accordion_menu li {
  margin: 5vh 0;
  font-size: 1.2vw;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  border-bottom: 1px solid #000;
  padding: 2.5vh 0 8vh 0;
  position: relative;
}

.accordion_menu li img {
  position: absolute;
  right: 1vw;
  top: 3vh;
  cursor: pointer;
}

.accordion_menu li:last-child {
  padding: 2.5vh 0 10vh 0;
}

/***** img toggleClass *****/
.accordion_menu li img.active {
  transform: rotate(180deg);
}

/***** 안의 내용 *****/
.accordion_menu li p {
  font-size: 1vw;
  font-weight: 400;
  margin-left: 1vw;
  display: none;
}

.accordion_menu li:first-child p {
  line-height: 1.5;
  margin-top: 4vh;
}

.accordion_menu .bus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4vh;
  display: none;
}

.accordion_menu li .bus .bold {
  font-weight: 600;
  color: cadetblue;
  font-size: 1.1vw;
}

.accordion_menu li .bus .small {
  font-size: 0.9vw;
  margin-top: 1vw;
}
