@charset "utf-8";

:root {
  --en-font: "Gotham", "Arial", sans-serif;
  --ko-font-nn: "NanumSquare", "맑은고딕", sans-serif;
  --ko-font-pr: "Pretendard Variable", "맑은고딕", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/***** header *****/
header {
  color: #fff;
  background-color: transparent;
  font-family: var(--en-font);
}

.header {
  padding: 1vh 0 1vh 0;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.header p:first-child {
  font-weight: 200;
}

.header.active {
  background-color: #000;
  color: #fff;
}

/***** 메뉴 *****/
.menu {
  width: 100%;
  height: 90vh;
  padding: 9vh 0 0 5vw;
  display: none;
  background-color: #000;
}

.menu li {
  margin: 1.5vw;
  position: relative;
}

.menu a {
  font-family: var(--ko-font-pr);
  font-weight: 500;
  font-size: 4.167vw;
}

/***** menu hover 효과 *****/
.menu li:nth-child(1) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}

.menu li:nth-child(1) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(2) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(2) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(3) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5vw;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(3) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(4) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5vw;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(4) a:hover:after {
  width: 30vw;
  opacity: 1;
}

.menu li:nth-child(5) a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5vw;
  width: 1px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}
.menu li:nth-child(5) a:hover:after {
  width: 30vw;
  opacity: 1;
}

/***** 예약버튼 *****/
.reservation_btn {
  font-family: var(--en-font);
  font-size: 0.833vw;
  font-weight: 300;
  text-align: center;
  /* width: 8vw; */
  height: 6vh;
  line-height: 6vh;
  /* margin: 6px 0 0 30px; */

  margin: 2px 0 0 0.5vw;
  transition: 0.4s;
}

.reservation_btn:hover {
  background-color: #b4b4b43a;
  border-radius: 5px;
}

/***** 로고 *****/
.logo {
  font-family: var(--en-font);
  font-weight: 200;
  font-size: 2.917vw;
  text-align: center;
  position: relative;
}

.logo p:nth-child(1) {
  margin: 0;
}

.logo p:nth-child(2) {
  font-size: 1.25vw;
  margin: 0;
}
/***** 1920 / 1440 / 1400 아래*****/
.logo::before {
  content: "";
  position: absolute;
  top: 35%;

  /*left: -32vw; /***** -320% -> -32vw *****/
  /*width: 30vw; /***** 313% -> 30vw *****/

  left: -36vw;
  width: 35vw;

  height: 1px;
  background-color: #000;
}

.logo::after {
  content: "";
  position: absolute;
  top: 35%;

  /*left: 110%; /***** 105% -> 110% *****/
  /* width: 32vw; /***** 320% -> 32vw *****/

  left: 14vw;
  width: 37vw;

  height: 1px;
  background-color: #000;
}
/***** 1920 / 1440 / 1400 위*****/

.logo.active::before {
  background-color: #fff;
}

.logo.active::after {
  background-color: #fff;
}

/***** 햄버거 메뉴*****/
.hamburger_btn {
  margin: 1.5vh 2vw;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.04vw;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
}

.checkmark span {
  width: 32px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkmark span.active {
  background-color: #fff;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.container input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.container input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.container input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  transform: translateX(-50px);
  transform: translateX(-50px);
  transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
}

/***** footer *****/
footer {
  font-family: var(--en-font);
  background-color: #000;
  color: #fff;
  height: 44vh;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7vh 0 5vh 0;
}

/***** footer_logo *****/
.footer_logo p {
  font-size: 4.167vw;
  font-weight: 200;
}

/***** footer_info *****/
.footer_info {
  font-family: var(--ko-font-nn);
  font-weight: 300;
  font-size: 0.917vw;
  line-height: 3;
}

.footer_info a:last-child {
  transition: 0.6s;
  font-weight: 500;
  width: 11.5vw;
  cursor: pointer;
  padding-left: 2px;
}

.footer_info a:last-child:hover {
  background-color: #fff;
  color: #000;
  padding: 0.5vw;
  font-weight: 500;
}

/***** copyright *****/
footer .copyright {
  font-weight: 300;
  position: relative;
  font-size: 0.833vw;
}

footer .copyright .bold {
  font-weight: 500;
}

footer .copyright {
  border-top: 1px solid #fff;
}

footer .copyright p {
  padding: 2vw 12vw;
}
